@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;1,300&display=swap");

* {
  box-sizing: border-box;
  /* for development */
  /* comment with command shift 7 */
  /* unterstrich am anfang deaktiviert / aktiviert */
  _outline: 1px solid red;
}
.body-class {
  font-family: "poppins", sans-serif;
  background-color: #d6d6d6;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1000px;
  margin: auto;
  background-image: linear-gradient(to bottom, #dddddd, #9a9a9a);
}

.main-header {
  padding: 40px;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffffe7;
  font-weight: 300;
  font-size: 15px;
  border-radius: 30px;
  box-shadow: 7px 3px 13px 0px rgba(0, 0, 0, 0.1);
}
section {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  background-color: #e9e9e9e7;
  font-weight: 300;
  font-size: 16px;
  border-radius: 30px;
  box-shadow: 7px 3px 13px 0px rgba(0, 0, 0, 0.1);
}
.social-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.social-container {
  background-color: #ffffffe7;
  flex-grow: 1;
  padding: 40px;
}

/* Headlines */

h1 {
  margin: 0;
}

h2 {
  margin: 0px 0px 15px 0px;
}
h3 {
  margin: 0px 0px 15px 0px;
}

p {
  margin: 0px 0px 5px 0px;
}

/* Menues and Links */

.navigation {
  gap: 40px; /* does not work, why? */
}

.menue-link {
  font-size: 20px;
  color: rgb(31, 152, 116);
  font-weight: 600;
}
.email-link {
  font-size: 16px;
}

/* Images */

.main-pic {
  border-radius: 30px;
  max-width: 45%;
  min-width: 280px; /* image shrinking, how can i avoid? */
  flex-shrink: 1;
  box-shadow: 0px 3px 18px 4px rgb(163, 163, 163);
}

.social-pic {
  border-radius: 30px;
  max-width: 200px;
  background-color: #dedede;
  box-shadow: 0px 3px 18px 4px rgb(163, 163, 163);
}

/* social text */

.at-my-account {
  color: rgb(158, 158, 158);
}

.at-my-account-icon {
  width: 40px;
}
